<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
    />

    <link href="<%=context.config.publicPath+'ss_favicon.ico'%>" rel="icon" type="image/x-icon"/>

    <link rel="stylesheet" href="<%=context.config.publicPath+'styling.css'%>"/>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css"/>
  </head>
  <body class="ss">
    <div id="root">
    </div>

    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.1&key=a7a90e05a37d3f6bf76d4a9032fc9129&plugin=AMap.ToolBar,AMap.Autocomplete,AMap.PlaceSearch"></script>
    <script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>

  </body>
</html>
